# Módulo Dal - "Data Acess Layer"

In [6]:
import sqlite3 as sql

In [4]:
# Função para criar o banco de dados

conn = sql.connect("Agenda.db")
conn.cursor()

conn.execute(CREATE TABLE Contatos(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    Prenome VARCHAR(50) NOT NULL,
    NomeMeio VARCHAR(50),
    Sobrenome VARCHAR(50) NOT NULL,
    CodArea VARCHAR(2) NOT NULL,
    Celular VARCHAR(9),
    Fixo VARCHAR(8),
    Estado VARCHAR(2) NOT NULL,
    Municipio VARCHAR(50) NOT NULL,
    Bairro VARCHAR(50) NOT NULL,
    TipoLogradouro VARCHAR(30) NOT NULL,
    NomeLogradouro VARCHAR(80) NOT NULL,
    Numero VARCHAR(20) NOT NULL,
    Complemento VARCHAR(30)
    );
)

conn.close()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3159775868.py, line 6)

In [5]:
# conn = sql.connect("Agenda.db")

conn.cursor()

conn.execute(
    """
    INSERT INTO Contatos(
    id
    prenome,
    nomeMeio,
    sobrenome,
    codArea,
    celular,
    fixo,
    estado,
    municipio,
    bairro,
    tipoLogradouro,
    nomeLogradouro,
    numero,
    complemento)
    values
    1, "João", "da Silva", "Fontenele", "51", "999999999", "", "RS", "Porto Alegre", "Medianeira", "Rua", "Alguma", "258", "")
    """
)

NameError: name 'conn' is not defined

In [7]:
import sqlite3 as sql

def inserir(registro: list) -> sql.Cursor:
    conn = sql.connect("Agenda.db")
    conn.cursos()
    conn.execute("""
    INSERT INTO Contatos values registro;""")